[Unit]
Description=Run IPTV playlist update daily
Requires=tv-garden-daily.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
